#ignore idea files
*.iml
.idea/
*.DS_Store/

#ignore eclipse files
*.project
*.classpath
*.settings
*.metadata

#ignore package files
*.class
target/
*/target/
*.jar
*.war
out/

#ignore other files
*.log
logs/
D:/
META-INF/
