eureka:
    client:
        serviceUrl:
            defaultZone: http://${eureka.instance.hostname}:8889/eureka/
    instance:
        hostname: localhost
        prefer-ip-address: true
logging:
    level:
        io:
            seata: info
mybatis:
    mapperLocations: classpath:mapper/*.xml
    typeAliasesPackage: io.seata.sample.entity
server:
    port: 8182
spring:
    application:
        name: storage-server
    cloud:
        alibaba:
            seata:
                tx-service-group: my_test_tx_group
    datasource:
        driver-class-name: com.mysql.jdbc.Driver
        password: 123456
        jdbcUrl: jdbc:mysql://192.168.59.1:3306/seata_storage?useAffectedRows=true&serverTimezone=UTC&characterEncoding=utf-8
        username: root
